* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.main {
  margin: 10px;
}
.head {
  width: 100%;
  height: 40px;
  background: gray;
  text-align: center;
  color: white;
  line-height: 40px;
  font-family: Arial;
  font-weight: bolder;
  font-size: 24px;
}
.banner {
  width: 100%;
  height: 100vh;
  background-color: skyblue;
  text-align: center;
  color: white;
  line-height: 100vh;
  font-family: Arial;
  margin-top: 10px;
  font-weight: bolder;
  font-size: 24px;
}
.sec1 {
  width: 100%;
  height: 80vh;
  text-align: center;
  color: black;
  padding: 10px;
  font-family: Arial;
  font-weight: bolder;
  margin-top: 10px;
  font-size: 24px;
}

.circle {
  width: 24%;
  height: 75%;
  background: orange;
  display: inline-flex;
  margin-top: 5px;
  margin-right: 0.5%;
  border-radius: 50%;
}

.sec2 {
  width: 100%;
  height: 100vh;
  text-align: center;
  color: black;
  padding: 10px;
  font-family: Arial;
  font-weight: bolder;
  margin-top: 10px;
  font-size: 24px;
}

.right {
  width: 49%;
  height: 90%;
  float: right;
  margin-top: 1%;
}

.left {
  width: 49%;
  background-color: gray;
  height: 90%;
  float: left;
  margin-top: 1%;
  color: white;
  font-family: Arial;
  font-weight: bolder;
  line-height: 90vh;
}

.col {
  width: 100%;
  background-color: red;
  height: 32%;
  margin-bottom: 14px;
  color: white;
  font-family: Arial;
  font-weight: bolder;
  line-height: 31vh;
  text-align: center;
}

.sec3 {
  width: 100%;
  height: 90vh;
  text-align: center;
  color: black;
  padding: 10px;
  font-family: Arial;
  font-weight: bolder;
  margin-top: 10px;
  font-size: 24px;
}

.rec {
  width: 20%;
  height: 80%;
  background: red;
  display: inline-flex;
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
}

.footer {
  width: 100%;
  height: 80px;
  text-align: center;
  color: black;
  font-family: Arial;
  font-weight: bolder;
  margin-top: 10px;
  font-size: 24px;
}

.bar {
  width: 100%;
  height: 50px;
  background: pink;
  text-align: center;
  color: white;
  font-family: Arial;
  font-weight: bolder;
  margin-top: 10px;
  line-height: 50px;
}
